# Next.js build output
.next/

# Node.js modules
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS files
.DS_Store

# Visual Studio Code
.vscode/

# Logs
*.log
*.log.*

# Optional: macOS and Windows file that stores custom folder attributes
Desktop.ini

# Optional: macOS directory attribute file
._*

# Optional: Files created by npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
